CREAR:ENVIAR contrato PANDADOC.json
{
    "name": "CREAR/ENVIAR contrato LOPD",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 572338,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "webhook 2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 976896
            },
            "mapper": {
                "id": "{{1.value}}",
                "base": "appuV5kGKzKdXlhoR",
                "table": "tbl7HVrBNBY9cSXzj",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Advancing"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "contactos"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Advancing-Airtable "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "index",
                        "type": "text",
                        "label": "index"
                    },
                    {
                        "name": "tipo contacto",
                        "type": "text",
                        "label": "tipo contacto"
                    },
                    {
                        "name": "producto interesado",
                        "type": "text",
                        "label": "producto interesado"
                    },
                    {
                        "name": "fuente original",
                        "type": "text",
                        "label": "fuente original"
                    },
                    {
                        "name": "LOPD",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "LOPD"
                    },
                    {
                        "name": "plantilla LOPD",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "plantilla LOPD"
                    },
                    {
                        "name": "nombre plantilla LOPD",
                        "type": "array",
                        "label": "nombre plantilla LOPD"
                    },
                    {
                        "name": "LOPD UUID",
                        "type": "text",
                        "label": "LOPD UUID"
                    },
                    {
                        "name": "LOPD STATUS select",
                        "type": "text",
                        "label": "LOPD STATUS select"
                    },
                    {
                        "name": "LOPD STATUS original",
                        "type": "text",
                        "label": "LOPD STATUS original"
                    },
                    {
                        "name": "nombre",
                        "type": "text",
                        "label": "nombre"
                    },
                    {
                        "name": "apellidos",
                        "type": "text",
                        "label": "apellidos"
                    },
                    {
                        "name": "nacionalidad",
                        "type": "text",
                        "label": "nacionalidad"
                    },
                    {
                        "name": "tipo doc",
                        "type": "text",
                        "label": "tipo doc"
                    },
                    {
                        "name": "numero documento",
                        "type": "text",
                        "label": "numero documento"
                    },
                    {
                        "name": "telefono",
                        "type": "text",
                        "label": "telefono"
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "email"
                    },
                    {
                        "name": "direccion",
                        "type": "text",
                        "label": "direccion"
                    },
                    {
                        "name": "CP",
                        "type": "text",
                        "label": "CP"
                    },
                    {
                        "name": "ciudad",
                        "type": "text",
                        "label": "ciudad"
                    },
                    {
                        "name": "provincia",
                        "type": "text",
                        "label": "provincia"
                    },
                    {
                        "name": "pais",
                        "type": "text",
                        "label": "pais"
                    },
                    {
                        "name": "razon social",
                        "type": "text",
                        "label": "razon social"
                    },
                    {
                        "name": "nombre entidad",
                        "type": "text",
                        "label": "nombre entidad"
                    },
                    {
                        "name": "cif entidad",
                        "type": "text",
                        "label": "cif entidad"
                    },
                    {
                        "name": "telefono entidad",
                        "type": "text",
                        "label": "telefono entidad"
                    },
                    {
                        "name": "email entidad",
                        "type": "text",
                        "label": "email entidad"
                    },
                    {
                        "name": "direccion entidad",
                        "type": "text",
                        "label": "direccion entidad"
                    },
                    {
                        "name": "provincia entidad",
                        "type": "text",
                        "label": "provincia entidad"
                    },
                    {
                        "name": "ciudad entidad",
                        "type": "text",
                        "label": "ciudad entidad"
                    },
                    {
                        "name": "CP entidad",
                        "type": "text",
                        "label": "CP entidad"
                    },
                    {
                        "name": "pais entidad",
                        "type": "text",
                        "label": "pais entidad"
                    },
                    {
                        "name": "notas",
                        "type": "text",
                        "label": "notas",
                        "multiline": true
                    },
                    {
                        "name": "numero de cuenta",
                        "type": "text",
                        "label": "numero de cuenta"
                    },
                    {
                        "name": "fecha cobro",
                        "time": false,
                        "type": "date",
                        "label": "fecha cobro"
                    },
                    {
                        "name": "aval",
                        "type": "boolean",
                        "label": "aval"
                    },
                    {
                        "name": "contrato",
                        "type": "url",
                        "label": "contrato"
                    },
                    {
                        "name": "foto documento",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "foto documento"
                    },
                    {
                        "name": "recibo bancario",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "recibo bancario"
                    },
                    {
                        "name": "otros",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "otros"
                    },
                    {
                        "name": "documento ingresos",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "documento ingresos"
                    },
                    {
                        "name": "id_avalista link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id_avalista link"
                    },
                    {
                        "name": "nombre avalista",
                        "type": "array",
                        "label": "nombre avalista"
                    },
                    {
                        "name": "deal_link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "deal_link"
                    },
                    {
                        "name": "id_empleado link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id_empleado link"
                    },
                    {
                        "name": "id_empleado link_log",
                        "type": "text",
                        "label": "id_empleado link_log"
                    },
                    {
                        "name": "nombre empleado",
                        "type": "array",
                        "label": "nombre empleado"
                    },
                    {
                        "name": "situacion laboral",
                        "type": "text",
                        "label": "situacion laboral"
                    },
                    {
                        "name": "ingresos",
                        "type": "number",
                        "label": "ingresos"
                    },
                    {
                        "name": "antiguedad laboral",
                        "time": false,
                        "type": "date",
                        "label": "antiguedad laboral"
                    },
                    {
                        "name": "canal envio",
                        "type": "text",
                        "label": "canal envio"
                    },
                    {
                        "name": "LOPD link PANDA",
                        "type": "url",
                        "label": "LOPD link PANDA"
                    },
                    {
                        "name": "warning",
                        "type": "text",
                        "label": "warning"
                    },
                    {
                        "name": "inmueblelink",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "inmueblelink"
                    },
                    {
                        "name": "count inmueble",
                        "type": "array",
                        "label": "count inmueble"
                    },
                    {
                        "name": "referencia catastral inmueble",
                        "type": "array",
                        "label": "referencia catastral inmueble"
                    },
                    {
                        "name": "producto",
                        "type": "array",
                        "label": "producto"
                    },
                    {
                        "name": "comision",
                        "type": "number",
                        "label": "comision"
                    },
                    {
                        "name": "agencia",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "agencia"
                    },
                    {
                        "name": "nombre agencia",
                        "type": "array",
                        "label": "nombre agencia"
                    },
                    {
                        "name": "LOPD url",
                        "type": "url",
                        "label": "LOPD url"
                    },
                    {
                        "name": "contrato STATUS select",
                        "type": "array",
                        "label": "contrato STATUS select"
                    },
                    {
                        "name": "ID_deal_record (from deal_link)",
                        "type": "array",
                        "label": "ID_deal_record (from deal_link)"
                    },
                    {
                        "name": "id propietario link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id propietario link"
                    },
                    {
                        "name": "nombre  propietario",
                        "type": "array",
                        "label": "nombre  propietario"
                    },
                    {
                        "name": "nombre  inquilino",
                        "type": "array",
                        "label": "nombre  inquilino"
                    },
                    {
                        "name": "nombre  agencia",
                        "type": "array",
                        "label": "nombre  agencia"
                    },
                    {
                        "name": "inmueble",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "inmueble"
                    },
                    {
                        "name": "inmueble 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "inmueble 2"
                    },
                    {
                        "name": "deal id",
                        "type": "array",
                        "label": "deal id"
                    },
                    {
                        "name": "id inmueble",
                        "type": "array",
                        "label": "id inmueble"
                    },
                    {
                        "name": "llamar AIRCALL",
                        "type": "text",
                        "label": "llamar AIRCALL"
                    },
                    {
                        "name": "contrato agencia STATUS select",
                        "type": "text",
                        "label": "contrato agencia STATUS select"
                    },
                    {
                        "name": "contrato agencia STATUS original",
                        "type": "text",
                        "label": "contrato agencia STATUS original"
                    },
                    {
                        "name": "numero deals realizados",
                        "type": "number",
                        "label": "numero deals realizados"
                    },
                    {
                        "name": "numero deals",
                        "type": "number",
                        "label": "numero deals"
                    },
                    {
                        "name": "RecordProp_ID",
                        "type": "text",
                        "label": "RecordProp_ID"
                    },
                    {
                        "name": "fecha creado",
                        "type": "date",
                        "label": "fecha creado"
                    },
                    {
                        "name": "fecha modificado",
                        "type": "date",
                        "label": "fecha modificado"
                    },
                    {
                        "name": "a pagar",
                        "type": "number",
                        "label": "a pagar"
                    },
                    {
                        "name": "fecha pago",
                        "time": false,
                        "type": "date",
                        "label": "fecha pago"
                    },
                    {
                        "name": "UUID plantilla LOPD",
                        "type": "array",
                        "label": "UUID plantilla LOPD"
                    },
                    {
                        "name": "llamar contacto",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "llamar contacto"
                    },
                    {
                        "name": "id user Aircall",
                        "type": "array",
                        "label": "id user Aircall"
                    },
                    {
                        "name": "linea origen llamada",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "linea origen llamada"
                    },
                    {
                        "name": "telefono (origen llamada)",
                        "type": "array",
                        "label": "telefono (origen llamada)"
                    },
                    {
                        "name": "ID telefono (origen llamada)",
                        "type": "array",
                        "label": "ID telefono (origen llamada)"
                    },
                    {
                        "name": "contrato agencia",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "contrato agencia"
                    },
                    {
                        "name": "enviar agencia",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "enviar agencia"
                    },
                    {
                        "name": "tipo agencia",
                        "type": "text",
                        "label": "tipo agencia"
                    },
                    {
                        "name": "informa",
                        "type": "text",
                        "label": "informa"
                    },
                    {
                        "name": "localizacion",
                        "type": "text",
                        "label": "localizacion"
                    },
                    {
                        "name": "entidad bancaria",
                        "type": "text",
                        "label": "entidad bancaria"
                    },
                    {
                        "name": "plantilla agencia",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "plantilla agencia"
                    },
                    {
                        "name": "nombre plantilla agencia",
                        "type": "array",
                        "label": "nombre plantilla agencia"
                    },
                    {
                        "name": "id_inquilino link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id_inquilino link"
                    },
                    {
                        "name": "id_agencialink",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id_agencialink"
                    },
                    {
                        "name": "empleado",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "empleado"
                    },
                    {
                        "name": "empleado 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "empleado 2"
                    },
                    {
                        "name": "empleado 3",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "empleado 3"
                    },
                    {
                        "name": "empleado 4",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "empleado 4"
                    },
                    {
                        "name": "deal",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "deal"
                    },
                    {
                        "name": "avalista_deal",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "avalista_deal"
                    },
                    {
                        "name": "propietario_deal",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "propietario_deal"
                    },
                    {
                        "name": "inquilino_deal",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "inquilino_deal"
                    },
                    {
                        "name": "deleted",
                        "type": "boolean",
                        "label": "deleted"
                    },
                    {
                        "name": "UUID plantilla agencia",
                        "type": "array",
                        "label": "UUID plantilla agencia"
                    },
                    {
                        "name": "contrato agencia link PANDA",
                        "type": "url",
                        "label": "contrato agencia link PANDA"
                    },
                    {
                        "name": "dia de cobro",
                        "type": "text",
                        "label": "dia de cobro"
                    },
                    {
                        "name": "status B2B",
                        "type": "text",
                        "label": "status B2B"
                    },
                    {
                        "name": "API",
                        "type": "text",
                        "label": "API"
                    },
                    {
                        "name": "comision agencia contrato - mes a mes",
                        "type": "number",
                        "label": "comision agencia contrato - mes a mes"
                    },
                    {
                        "name": "fecha firma contrato colaboracion",
                        "time": false,
                        "type": "date",
                        "label": "fecha firma contrato colaboracion"
                    },
                    {
                        "name": "rec_id_temp",
                        "type": "text",
                        "label": "rec_id_temp"
                    },
                    {
                        "name": "inmuebles",
                        "type": "number",
                        "label": "inmuebles"
                    },
                    {
                        "name": "id_agente_link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "id_agente_link"
                    },
                    {
                        "name": "nombre agente (look)",
                        "type": "array",
                        "label": "nombre agente (look)"
                    },
                    {
                        "name": "apellido agente",
                        "type": "array",
                        "label": "apellido agente"
                    },
                    {
                        "name": "envio LOPD",
                        "type": "text",
                        "label": "envio LOPD"
                    },
                    {
                        "name": "crear contrato",
                        "type": "text",
                        "label": "crear contrato"
                    },
                    {
                        "name": "enviar contrato",
                        "type": "text",
                        "label": "enviar contrato"
                    },
                    {
                        "name": "numero de alquileres mensuales",
                        "type": "number",
                        "label": "numero de alquileres mensuales"
                    },
                    {
                        "name": "numero de operaciones mensual con proteccion de impagos",
                        "type": "number",
                        "label": "numero de operaciones mensual con proteccion de impagos"
                    },
                    {
                        "name": "PVP Mes a Mes",
                        "type": "number",
                        "label": "PVP Mes a Mes"
                    },
                    {
                        "name": "cargo",
                        "type": "text",
                        "label": "cargo"
                    },
                    {
                        "name": "cargo agente",
                        "type": "array",
                        "label": "cargo agente"
                    },
                    {
                        "name": "contrato agencia UUID",
                        "type": "text",
                        "label": "contrato agencia UUID"
                    },
                    {
                        "name": "CReado por",
                        "type": "text",
                        "label": "CReado por"
                    },
                    {
                        "name": "agencia nombre txt",
                        "type": "text",
                        "label": "agencia nombre txt"
                    },
                    {
                        "name": "comision agencia contrato - 12 meses",
                        "type": "number",
                        "label": "comision agencia contrato - 12 meses"
                    },
                    {
                        "name": "record id",
                        "type": "text",
                        "label": "record id"
                    },
                    {
                        "name": "deal copy",
                        "type": "text",
                        "label": "deal copy"
                    },
                    {
                        "name": "agente_deal",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "agente_deal"
                    },
                    {
                        "name": "check_auto",
                        "type": "boolean",
                        "label": "check_auto"
                    },
                    {
                        "name": "nombre agencia (from agencia)",
                        "type": "array",
                        "label": "nombre agencia (from agencia)"
                    },
                    {
                        "name": "nombre agentes de agencia",
                        "type": "array",
                        "label": "nombre agentes de agencia"
                    },
                    {
                        "name": "Inq_Check_Avalista",
                        "type": "boolean",
                        "label": "Inq_Check_Avalista"
                    },
                    {
                        "name": "Inq_Avalista1",
                        "type": "text",
                        "label": "Inq_Avalista1"
                    },
                    {
                        "name": "Inq_Avalista2",
                        "type": "text",
                        "label": "Inq_Avalista2"
                    },
                    {
                        "name": "Avalista_1",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Avalista_1"
                    },
                    {
                        "name": "Avalista_2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Avalista_2"
                    },
                    {
                        "name": "nombre empleado vinculado (deal_link)",
                        "type": "array",
                        "label": "nombre empleado vinculado (deal_link)"
                    },
                    {
                        "name": "lead vinculado",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "lead vinculado"
                    },
                    {
                        "name": "fuente original (from lead vinculado)",
                        "type": "array",
                        "label": "fuente original (from lead vinculado)"
                    },
                    {
                        "name": "form_prefilled_agente",
                        "type": "text",
                        "label": "form_prefilled_agente"
                    },
                    {
                        "name": "id_contacto",
                        "type": "text",
                        "label": "id_contacto"
                    },
                    {
                        "name": "inquilino avalado",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "inquilino avalado"
                    },
                    {
                        "name": "PVP 12 meses",
                        "type": "number",
                        "label": "PVP 12 meses"
                    },
                    {
                        "name": "index Rollup (from id_agencialink)",
                        "type": "array",
                        "label": "index Rollup (from id_agencialink)"
                    },
                    {
                        "name": "record id (from id_agencialink)",
                        "type": "array",
                        "label": "record id (from id_agencialink)"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "pandadoc:createADocuments",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 976969
            },
            "mapper": {
                "name": "ADV.LOPD_{{2.`tipo contacto`[]}}_{{2.id_contacto}}",
                "send": false,
                "template": "5rTCb2jWMLmTTKF2u6gp6T",
                "tokens": {
                    "Propietario.Email": "{{2.email}}"
                },
                "fields": {
                    "Nombre y Apellidos": "{{2.nombre}} {{2.apellidos}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Advancing-PandaDoc (legal@advancing.es)",
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            }
                        }
                    },
                    "expect": {
                        "template": {
                            "mode": "edit",
                            "nested": [
                                {
                                    "name": "tokens",
                                    "spec": [
                                        {
                                            "name": "Propietario.Email",
                                            "type": "email",
                                            "label": "Role: Propietario Email",
                                            "metadata": {
                                                "role": "Propietario"
                                            },
                                            "required": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Tokens"
                                },
                                {
                                    "name": "fields",
                                    "spec": [
                                        {
                                            "name": "Documento DNI",
                                            "type": "text",
                                            "label": "Propietario Documento DNI"
                                        },
                                        {
                                            "name": "Nombre y Apellidos",
                                            "type": "text",
                                            "label": "Propietario Nombre y Apellidos"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Fields"
                                },
                                {
                                    "name": "recipients",
                                    "spec": [
                                        {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email",
                                            "required": true
                                        },
                                        {
                                            "name": "first_name",
                                            "type": "text",
                                            "label": "First name"
                                        },
                                        {
                                            "name": "last_name",
                                            "type": "text",
                                            "label": "Last name"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "CC Recipients"
                                }
                            ]
                        },
                        "tags": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "recipients": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Document name",
                        "required": true
                    },
                    {
                        "name": "send",
                        "type": "boolean",
                        "label": "Send a document",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags",
                        "spec": {
                            "type": "text",
                            "label": "Tag",
                            "name": "value"
                        }
                    },
                    {
                        "name": "metadata",
                        "type": "array",
                        "label": "Document metadata",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "tokens",
                        "type": "collection",
                        "label": "Tokens",
                        "spec": [
                            {
                                "name": "Propietario.Email",
                                "type": "email",
                                "label": "Role: Propietario Email",
                                "metadata": {
                                    "role": "Propietario"
                                },
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "fields",
                        "type": "collection",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "Documento DNI",
                                "type": "text",
                                "label": "Propietario Documento DNI"
                            },
                            {
                                "name": "Nombre y Apellidos",
                                "type": "text",
                                "label": "Propietario Nombre y Apellidos"
                            }
                        ]
                    },
                    {
                        "name": "recipients",
                        "type": "array",
                        "label": "CC Recipients",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            },
                            {
                                "name": "first_name",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "last_name",
                                "type": "text",
                                "label": "Last name"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "6"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "pandadoc:downloadADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 976969
            },
            "mapper": {
                "document": "{{7.uuid}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "document": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "Advancing-PandaDoc (legal@advancing.es)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "document",
                        "type": "select",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1021267
            },
            "mapper": {
                "data": "{{9.data}}",
                "select": "value",
                "convert": false,
                "filename": "{{9.filename}}",
                "folderId": "/1ap61u2JvFHo-04EhQts4RBMAlzta7QNf/1WlLoevUywK8O-941IeHHKob8_KUM76aY",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "MAKE",
                                "NO FIRMA"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Advancing-Drive (nemeda@advancing.es)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "pandadoc:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 976969
                            },
                            "filter": {
                                "name": "EMAIL",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`canal envio`}}",
                                            "b": "email",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/public/v1/documents/{{7.uuid}}/send",
                                "body": "{\n     \"subject\": \"documento para firmar\",\n     \"message\": \"El documento enviado por Equipo Advancing est disponible para su firma. Por favor, revisa y firma el documento o ponte en contacto con nosotros para obtener ms informacin.\",\n     \"silent\": false\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Authorization",
                                        "value": "ece968ec571284be4f92765ee13c1370cb819ddf"
                                    },
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    },
                                    {
                                        "key": "accept",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0,
                                    "name": "SEND DOCUMENT BY EMAIL"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pandadoc"
                                            },
                                            "label": "Advancing-PandaDoc (legal@advancing.es)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pandadoc",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "pandadoc:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 976969
                            },
                            "filter": {
                                "name": "WHATSAPP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.`canal envio`}}",
                                            "b": "WhatsApp",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/public/v1/documents/{{7.uuid}}/send",
                                "body": "{\n     \"subject\": \"This is my subject\",\n     \"message\": \"Hello! This document was sent from the PandaDoc API.\",\n     \"silent\": true\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Authorization",
                                        "value": "ece968ec571284be4f92765ee13c1370cb819ddf"
                                    },
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    },
                                    {
                                        "key": "accept",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300,
                                    "name": "SEND DOCUMENT BY LINK"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pandadoc"
                                            },
                                            "label": "Advancing-PandaDoc (legal@advancing.es)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pandadoc",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "link whatsapp",
                                "scope": "roundtrip",
                                "value": "{{substring(21.body.recipients[].shared_link; length(\"'https://app.pandadoc.com/document/'\") - 2; length(21.body.recipients[].shared_link))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2374,
                                    "y": 295,
                                    "name": "LINK WHATSAPP"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "link whatsapp",
                                        "type": "any",
                                        "label": "link whatsapp"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "whatsapp-business-cloud:sendTemplateMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1030943
                            },
                            "mapper": {
                                "to": "{{2.telefono}}",
                                "body": {},
                                "footer": {},
                                "fromId": "114612981517909",
                                "buttons": {
                                    "button_0": {
                                        "url::text": "{{26.`link whatsapp`}}"
                                    }
                                },
                                "messageTemplate": "firmar_lopd_es_1::es_ES"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2650,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "fromId": {
                                            "mode": "chose",
                                            "label": "Advancing (+34 623 03 40 32)"
                                        },
                                        "messageTemplate": {
                                            "label": "firmar_lopd_es_1 (es_ES)",
                                            "nested": [
                                                {
                                                    "name": "body",
                                                    "spec": [
                                                        {
                                                            "type": "html",
                                                            "label": "<pre>El documento enviado por Equipo Advancing est disponible para su firma.\n\nPor favor, revisa y firma el documento o ponte en contacto con el remitente para obtener ms informacin.</pre>"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Body"
                                                },
                                                {
                                                    "name": "footer",
                                                    "spec": [
                                                        {
                                                            "type": "html",
                                                            "label": "<pre>Advancing Right SL</pre>"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Footer"
                                                },
                                                {
                                                    "name": "buttons",
                                                    "spec": [
                                                        {
                                                            "name": "button_0",
                                                            "spec": [
                                                                {
                                                                    "type": "html",
                                                                    "label": "<pre>https://app.pandadoc.com/document/{{1}}</pre>"
                                                                },
                                                                {
                                                                    "name": "url::text",
                                                                    "type": "text",
                                                                    "label": "{{1}}",
                                                                    "required": true
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "ABRIR DOCUMENTO"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Buttons"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsapp-business-cloud2"
                                            },
                                            "label": "My WhatsApp Business Cloud connection (WHATSAPP_ADVANCING)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsapp-business-cloud2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fromId",
                                        "type": "select",
                                        "label": "Sender ID",
                                        "required": true
                                    },
                                    {
                                        "name": "to",
                                        "type": "text",
                                        "label": "Receiver",
                                        "required": true
                                    },
                                    {
                                        "name": "messageTemplate",
                                        "type": "select",
                                        "label": "Message Template",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "footer",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Footer"
                                    },
                                    {
                                        "name": "buttons",
                                        "spec": [
                                            {
                                                "name": "button_0",
                                                "spec": [
                                                    {
                                                        "name": "url::text",
                                                        "type": "text",
                                                        "label": "{{1}}",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "ABRIR DOCUMENTO"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Buttons"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}